:root {
  --main-color: #1d5395;
  --bkg-color: #3bc3e3;
  --bkg-dark: #0f87a4;
  --brd-w: 8px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--main-color);
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

hr {
  color: lightskyblue;
}

.bl {
  border-left: solid var(--brd-w);
}
.bt {
  border-top: solid var(--brd-w);
}
.bb {
  border-bottom: solid var(--brd-w);
}
.br {
  border-right: solid var(--brd-w);
}
.bttn32 {
  width: 32px !important;
  height: 32px !important;
}

.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--main-color);
  font-family: Roboto;
}

.hdr {
  display: flex;
  font-family: Roboto;
  font-size: 4em;
  align-items: end;
  background-color: var(--bkg-color);
  padding: 8px;
}

.hdr_vtxt {
  transform: rotate(-90deg);
  font-size: 1rem;
  text-align: end;
  margin-right: -1.3em;
  margin-bottom: 0.9em;
  margin-left: -1.5em;
  line-height: 1em;
}

.middle-wrp {
  display: flex;
  flex-grow: 1;
  line-height: 0.8em;
  justify-content: space-between;
  margin-left: 0.2em;
}

.right-wrp {
  display: flex;
}

.hdr_left {
  line-height: 0.8em;
  margin-left: -0.13em;
  padding-left: 0.14em;
}

.hdr_right {
  flex-grow: 1;
  margin-left: -0.21em;
}

.temp-wrp {
  display: flex;
  line-height: 0.8em;
  margin-right: 8px;
}

.bttn-refr {
  display: flex;
  transition-duration: 1s;
  transform: rotate(0deg);
}

.curr {
  font-size: 0.9rem;
  padding-left: 8px;
}

.ctrls {
  display: flex;
  justify-content: space-between;
  background-color: #278196;
}

/* .ctrls-left-wrp {
} */

.lpan {
  display: none;
  position: absolute;
  z-index: 10;
  width: 200px;
  height: 400px;
  background-color: #3bc3e3;
  padding: 8px;
}

.rpan {
  font-size: 0.62em;
  right: 0;
  flex-direction: column;
}

.f1 {
  flex-grow: 1;
}

.f2 {
  display: flex;
  align-items: center;
  background-color: #309cb4;
  justify-content: end;
}

.ctrls-left-wrp:hover .lpan {
  display: block;
}

/* .ctrls-mid {
}.bttn-right {
} */

.ctrls-right-wrp:hover .rpan {
  display: flex;
}

.chart {
  position: relative;
  flex-grow: 1;
  height: 100%;
  background-color: #02a1c7;
}

.svg_chart {
  background-color: #3a09090f;
  mask: url("media/snowflake.svg") no-repeat;
  mask-position: right -500px top -500px;
  mask-size: 1000px;

  /* background-image: url("snowflake.svg");
  background-repeat: no-repeat;
  background-size: 1000px;
  background-position: right -500px top -500px; */
}

.footer {
  display: flex;
  flex-direction: column;
  height: 10vh;
  background-color: lightgreen;
  font-size: 0.6em;
}
